<div class="wrapper">
    <nz-layout class="layout" >
        <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
           <app-sidebar></app-sidebar>
        </nz-sider>
        <nz-layout>
          <nz-header>
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
          </nz-header>
          <nz-content>
            <router-outlet></router-outlet>
          </nz-content>
          <nz-footer></nz-footer>
        </nz-layout>
    </nz-layout>
</div>
