<div class="container">
  <div nz-row>
    <div nz-col [nzSpan]="24">
      <nz-table #headerTable   [nzScroll]="{ y: '500px' }">
        <thead>
          <tr>
            <th nzWidth="50px" [(nzChecked)]="checked"
              [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)">
            </th>
            <th nzWidth="100%">Inbox</th>
            <th nzWidth="150px" *ngFor="let column of listOfColumns; trackBy: trackByName" nzAlign="right"
              [nzFilters]="column.listOfFilter" [nzFilterFn]="column.filterFn" >
              Filter
            </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of datas; let i = index" [attr.data-index]="i" (mouseenter)="onHover(i)"
            (mouseleave)="onHover(-1)">
            <!--(mouseover)="over(item,true,i)" (mouseout)="out(item,false,i)"-->
            <td *ngIf="i != hoverIndex"><button class="btn-circle">{{item.from.substr}}</button></td>
            <td *ngIf="i === hoverIndex"  [nzChecked]="setOfCheckedId.has(item.id)"
              (nzCheckedChange)="onItemChecked(item.id, $event)">
            </td>
            <td>
              <p class="name">{{ item.from.name }}</p>
              <p class="subject">{{ item.subject }}</p>
              <p class="description">{{ item.body }}</p>
            </td>
            <td nzAlign="right">
              <ul nz-list-item-actions *ngIf="i === hoverIndex" [attr.dd-index]="i" style="margin-left: 0 !important;"> <!--*ngIf="i === hoverIndex" [attr.dd-index]="i"-->
                <nz-list-item-action ><i class="icon" nz-icon nzType="delete" nzTheme="outline" (click)="action('delete',i)"></i></nz-list-item-action>
                <nz-list-item-action><i class="icon" nz-icon nzType="mail" nzTheme="outline" (click)="action('unread',i)"></i></nz-list-item-action>
                <nz-list-item-action><i class="icon" nz-icon nzType="flag" nzTheme="outline" (click)="action('mark',i)"></i></nz-list-item-action>
                <nz-list-item-action><i class="icon" nz-icon nzType="pushpin" nzTheme="outline" (click)="action('pin',i)"></i> </nz-list-item-action>
              </ul>
              <p>11:0{{i}}</p>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>